:host { display: contents; }
:host, :host *, :host ::after, :host ::before { box-sizing: border-box; }
:host > * { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; font-size: var(--s-global-font-size,1rem); line-height: var(--s-global-line-height,1.5rem); letter-spacing: var(--s-global-letter-spacing,-.00833em); font-family: var(--s-global-font-family,'Inter',-apple-system,BlinkMacSystemFont,'San Francisco','Segoe UI',Roboto,'Helvetica Neue',sans-serif); font-weight: var(--s-global-font-weight,450); font-variant: normal; color: var(--s-global-color,var(--t-text,rgba(48,48,48,1))); text-shadow: none; text-transform: none; font-style: normal; text-align: start; text-align-last: auto; text-indent: 0px; }
@media (min-width: 48rem), (pointer: fine) {
  :host > * { font-size: var(--s-global-font-size,.8125rem); line-height: var(--s-global-line-height,1.25rem); letter-spacing: var(--s-global-letter-spacing,0); }
}
h1, h2, h3, h4, h5, h6, p { all: unset; }
:host { --s-global-font-size: 1rem; --s-global-line-height: 1.25rem; --s-global-letter-spacing: -.00833em; --s-global-font-weight: 600; }
@media (min-width: 48rem), (pointer: fine) {
  :host { --s-global-font-size: .8125rem; --s-global-line-height: 1.25rem; --s-global-letter-spacing: 0; }
}
.heading { margin-block-end: var(--s-heading-margin-block-end,0); font-weight: var(--s-global-font-weight,600); line-height: var(--s-global-line-height,1.25rem); font-size: var(--s-global-font-size); letter-spacing: var(--s-global-letter-spacing); display: block; }
@media (min-width: 48rem), (pointer: fine) {
  .heading { font-size: var(--s-global-font-size); line-height: var(--s-global-line-height); letter-spacing: var(--s-global-letter-spacing); }
}
:host([size="large"]) { --s-global-font-size: 1rem; --s-global-line-height: 1.25rem; --s-global-letter-spacing: -.00833em; --s-global-font-weight: 600; }
@media (min-width: 48rem), (pointer: fine) {
  :host([size="large"]) { --s-global-font-size: .875rem; --s-global-line-height: 1.25rem; --s-global-letter-spacing: 0; }
}
.heading.size-large { font-size: 1rem; line-height: 1.25rem; letter-spacing: -0.00833em; }
@media (min-width: 48rem), (pointer: fine) {
  .heading.size-large { font-size: 0.875rem; line-height: 1.25rem; letter-spacing: 0px; }
}
:host([size="base"]) { --s-global-font-size: 1rem; --s-global-line-height: 1.25rem; --s-global-letter-spacing: -.00833em; --s-global-font-weight: 600; }
@media (min-width: 48rem), (pointer: fine) {
  :host([size="base"]) { --s-global-font-size: .8125rem; --s-global-line-height: 1.25rem; --s-global-letter-spacing: 0; }
}
.heading.size-base { font-size: 1rem; line-height: 1.25rem; letter-spacing: -0.00833em; }
@media (min-width: 48rem), (pointer: fine) {
  .heading.size-base { font-size: 0.8125rem; line-height: 1.25rem; letter-spacing: 0px; }
}
:host([size="small"]) { --s-global-font-size: .75rem; --s-global-line-height: 1rem; --s-global-letter-spacing: 0; --s-global-font-weight: 600; }
.heading.size-small { font-size: 0.75rem; line-height: 1rem; letter-spacing: 0px; }
.line-clamp { display: -webkit-box; overflow: hidden; -webkit-line-clamp: var(--s-line-clamp,none); -webkit-box-orient: vertical; }
.accessibility-visibility-exclusive { inline-size: 1px; block-size: 1px; clip: rect(0px, 0px, 0px, 0px); clip-path: inset(50%); overflow: hidden; position: absolute; white-space: nowrap; }
