:host { display: contents; }
:host, :host *, :host ::after, :host ::before { box-sizing: border-box; }
:host > * { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; font-size: var(--s-global-font-size,1rem); line-height: var(--s-global-line-height,1.5rem); letter-spacing: var(--s-global-letter-spacing,-.00833em); font-family: var(--s-global-font-family,'Inter',-apple-system,BlinkMacSystemFont,'San Francisco','Segoe UI',Roboto,'Helvetica Neue',sans-serif); font-weight: var(--s-global-font-weight,450); font-variant: normal; color: var(--s-global-color,var(--t-text,rgba(48,48,48,1))); text-shadow: none; text-transform: none; font-style: normal; text-align: start; text-align-last: auto; text-indent: 0px; }
@media (min-width: 48rem), (pointer: fine) {
  :host > * { font-size: var(--s-global-font-size,.8125rem); line-height: var(--s-global-line-height,1.25rem); letter-spacing: var(--s-global-letter-spacing,0); }
}
@keyframes rotate { 
  100% { transform: rotate(1turn); }
}
.spinner { opacity: 1; display: block; transition: opacity 150ms allow-discrete; block-size: 1.25rem; inline-size: 1.25rem; }
@starting-style {
  .spinner { opacity: 0; }
}
.spinner svg { transform-origin: center center; animation: 500ms linear 0s infinite normal none running rotate; }
@media (prefers-reduced-motion: reduce) {
  .spinner svg { animation: auto ease 0s 1 normal none running none; }
}
.size-large { block-size: 2.75rem; inline-size: 2.75rem; }
.bg-path { stroke: var(--t-fill-brand-disabled,rgba(0,0,0,.17)); }
.fg-path { stroke: var(--t-fill-brand,rgba(48,48,48,1)); stroke-linecap: round; stroke-dasharray: 4, 6; }
