:host { display: contents; }
:host, :host *, :host ::after, :host ::before { box-sizing: border-box; }
:host > * { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; font-size: var(--s-global-font-size,1rem); line-height: var(--s-global-line-height,1.5rem); letter-spacing: var(--s-global-letter-spacing,-.00833em); font-family: var(--s-global-font-family,'Inter',-apple-system,BlinkMacSystemFont,'San Francisco','Segoe UI',Roboto,'Helvetica Neue',sans-serif); font-weight: var(--s-global-font-weight,450); font-variant: normal; color: var(--s-global-color,var(--t-text,rgba(48,48,48,1))); text-shadow: none; text-transform: none; font-style: normal; text-align: start; text-align-last: auto; text-indent: 0px; }
@media (min-width: 48rem), (pointer: fine) {
  :host > * { font-size: var(--s-global-font-size,.8125rem); line-height: var(--s-global-line-height,1.25rem); letter-spacing: var(--s-global-letter-spacing,0); }
}
@keyframes fade-on-checked { 
  0% { transform: scale(0); opacity: 0; }
}
.choice-list { border: 0px; display: flex; flex-direction: column; margin: 0px; padding: 0px; }
.choice-list.disabled { color: var(--t-text-disabled,rgba(181,181,181,1)); }
legend { margin-block-end: 0.25rem; padding: 0px; }
.choice { cursor: pointer; align-items: center; display: inline-flex; gap: 0.5rem; padding-block: 0.75rem; max-inline-size: fit-content; position: relative; }
@media (min-width: 48rem), (pointer: fine) {
  .choice { padding-block: 0.25rem; }
}
.has-details { padding-block-end: 0.25rem; }
.radio { appearance: none; margin: 0px; outline: 0px; border-radius: 50%; background-color: var(--t-choice-surface,var(--t-input-border,rgba(138,138,138,1))); box-shadow: var(--t-shadow-input,none); inline-size: 1.25rem; block-size: 1.25rem; }
@media (min-width: 48rem), (pointer: fine) {
  .radio { inline-size: var(--t-choice-size,1rem); block-size: var(--t-choice-size,1rem); margin: var(--t-choice-margin,0); }
}
.radio::after { content: ""; display: block; border-radius: 50%; inline-size: 100%; block-size: 100%; transform: scale(0.9375); background: var(--t-input-surface,rgba(253,253,253,1)); transition: opacity 100ms cubic-bezier(0.19, 0.91, 0.38, 1), transform 100ms cubic-bezier(0.19, 0.91, 0.38, 1); }
.radio:checked { background-color: var(--t-fill-brand,rgba(48,48,48,1)); box-shadow: var(--t-shadow-choice-checked,none); }
.radio:checked::after { animation: 100ms ease 0s 1 normal none running fade-on-checked; transform: scale(0.5); opacity: 1; }
.choice.disabled { cursor: default; color: var(--t-text-disabled,rgba(181,181,181,1)); }
.choice.disabled .radio { background-color: var(--t-choice-surface-disabled,rgba(0,0,0,.08)); box-shadow: var(--t-shadow-input-disabled,none); }
.choice.disabled .radio::after { background-color: rgba(0, 0, 0, 0); }
.choice:focus-within .radio { background-color: var(--t-input-border-active,rgba(26,26,26,1)); }
:is(.choice:focus-within .radio):focus-visible { outline: .125rem solid var(--t-border-focus,rgba(0,91,211,1)); outline-offset: 0.125rem; }
:is(.choice:focus-within .radio):checked:focus-visible { outline-offset: 0.0625rem; }
.choice:hover .radio:not(:disabled, :checked) { background-color: var(--t-choice-surface,var(--t-input-border-hover,rgba(97,97,97,1))); box-shadow: var(--t-shadow-input,none); }
:is(.choice:hover .radio:not(:disabled, :checked))::after { background: var(--t-input-surface-hover,rgba(250,250,250,1)); }
.choice:active .radio:not(:disabled, :checked) { background-color: var(--t-choice-surface,var(--t-input-border-active,rgba(26,26,26,1))); }
:is(.choice:active .radio:not(:disabled, :checked))::after { transform: scale(0.75); }
@media (forced-colors: active) {
  .radio { border: 0.125rem solid rgba(0, 0, 0, 0); }
  .radio:checked::after { border: 0.125rem solid rgba(0, 0, 0, 0); }
}
.field-details { padding-block: 0.25rem; margin-inline-start: 0.125rem; }
@media (min-width: 48rem), (pointer: fine) {
  .field-details { margin-inline-start: 0px; }
}
.has-details + .field-details { padding-block: 0px 0.25rem; margin-inline-start: 1.75rem; }
@media (min-width: 48rem), (pointer: fine) {
  .has-details + .field-details { margin-inline-start: 1.5rem; }
}
.field-details { --s-global-font-size: .75rem; --s-global-line-height: 1rem; --s-icon-display: inline-flex; --s-icon-vertical-align: middle; --s-link-color: currentColor; --s-link-color-hover: currentColor; --s-link-color-active: currentColor; --s-link-text-decoration: underline; display: flex; gap: 0.25rem; font-size: 0.75rem; line-height: 1rem; color: var(--t-text-secondary,rgba(97,97,97,1)); }
@media (min-width: 48rem), (pointer: fine) {
  .field-details { letter-spacing: 0px; }
}
.field-details.field-details-error { --s-global-color: var(--t-text-critical,rgba(142,11,33,1)); --s-icon-color: var(--t-text-critical,rgba(142,11,33,1)); --s-link-color: currentColor; color: var(--t-text-critical,rgba(142,11,33,1)); }
.field-details.field-details-disabled { --s-global-color: var(--t-text-disabled,rgba(181,181,181,1)); --s-icon-color: var(--t-icon-disabled,rgba(204,204,204,1)); color: var(--t-text-disabled,rgba(181,181,181,1)); }
.field-details-icon { flex-shrink: 0; display: inline-flex; }
.display-none { display: none; }
